body{
    background: #000;

    margin: 0;
    padding: 0;
    -webkit-user-select: none;  
  -ms-user-select: none;  
  user-select: none;  
}

.table{
    margin-top: 5vh;
    margin-left: 17%;
    display: block;
    /* background: red; */
}

 

.text_emojie{
    /* background-color: rgb(0, 0, 0); */
    visibility: hidden;
    width: 12vw;
    height: 3vw;
    position: absolute;
    margin-left: -12%;
    margin-top: -5%;
    display: flex;
    justify-content: space-between;
    box-shadow: 
    0 0 10vw 0vw #02EB98,
    0 0 2vw 0.4vw #099e6a,
    inset 0 0 .5vw 0.2vw #02EB98,
    inset 0 0 .2vw 0.2vw #00ac70,
    inset 0 0 .25vw 0.2vw #027b50;
}
.text img,.emojie img{
    width: 30%;
    height: 60%;
    cursor: pointer;
}

.text:hover img, .emojie:hover img {
    width: 35%;
    height: 70%;
    transition: 0.5s ease-out;
}



.text, .emojie{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #4c504e; */
    width: 50%;
    /* height: 50%; */
    height: 100%;
    /* opacity: 0.4; */
    /* transition: .5s ease-out; */

}


.table{
    /* margin-top: 5vh; */
    /* background: url(../img/hexellence-1920x1080.png ); */
    background: #000;
    box-shadow: 
    0 0 10vw 0vw #02EB98,
    0 0 2vw 0.4vw #099e6a,
    inset 0 0 .5vw 0.2vw #02EB98,
    inset 0 0 .2vw 0.2vw #00ac70,
    inset 0 0 .25vw 0.2vw #027b50;
}




.full_profile{
    display: inline;
}

label{
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    background: #05bd7c;
    width: 100%;
    /* height: 20%; */
    margin-top: 5%;
    padding: 2% 0 0 2%;
    /* font-size: 2vw; */
}


.pic_emojies{
    margin-top: 3%;
    margin-left: 13%;
    width: 20%;
    height: 20%;
    font-size: 3vw;
    opacity: 0.4;
    transition: .1s ease-out;
}


.pic_emojies:hover{

    cursor: pointer;
    transition: .5s ease-out;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 5px;
}


  ::-webkit-scrollbar-track {
    /* background: #000000;  */
  }
  
  
  ::-webkit-scrollbar-thumb {
      background: #cecfcf; 
      
    }
    
    
    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff; 
        
    }
    


  
.chat{
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    visibility: hidden;
    height: 12vw;
    width: 12vw;
    margin-left: -12%;
    margin-top: -2%;
    border-radius: 10px;
    color: #FFF;
    
}

.showMessage{
    display: none;
    position: absolute;
    height: 5vw;
    width: 5vw;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    /* padding: 0 3% 0 0; */
    /* padding-left: 1%; */
    margin-left: 2%;
    border-radius: 10px;
    color: #000;

    /* clip-path: polygon(52% 0, 71% 17%, 100% 20%, 100% 80%, 99% 100%, 0 100%, 0 21%, 33% 17%); */
    clip-path: polygon(52% 0, 61% 9%, 100% 20%, 100% 80%, 99% 100%, 0 100%, 0 21%, 40% 10%);


    animation: down 5s ;

}
.messa{
    font-size: 1vw;
   display: flex;
   height: 5vw;
   width: 5vw;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #000;

}

@keyframes down {
    0% {
        margin-top: -5%;
    }
    10% {
        margin-top: 0%;   
    }
    80% {
        margin-top: 0%;   
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }

 h2{
    color: #FFF;
 }
.profile{
    display: flex;
}

.icon_chat{
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}

.img_profile{
    z-index: 1;
    position: relative;
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-size: cover;
}
.score{
    margin-left: auto;
    margin-right: auto;
     display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 70%;
}


.result_player2, .result_player1{
    font-size: 2vw;
    color: #FFF;
    transition: .5s ease-out;
 }
 

 
 span{
    /* font-size: 7em; */
    color: #02EB98;
    /* box-shadow: 
    0 0 10vw 0vw #02EB98,
    0 0 2vw 0.4vw #099e6a,
    inset 0 0 .5vw 0.2vw #02EB98,
    inset 0 0 .2vw 0.2vw #00ac70,
    inset 0 0 .25vw 0.2vw #027b50; */
 }
 
 .game{
     
    display: inline-block;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    padding: 5vh 0 0 0;
    /* align-items: ; */
  
}

