body{
    background: #000;

    margin: 0;
    padding: 0;
    -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table{
    z-index: 10;
    margin-top: 5vh;
    /* margin-left: 28%; */
    /* display: block; */
    /* background: red; */
}



.text_emojie{
    /* background-color: rgb(0, 0, 0); */
    visibility: hidden;
    width: 8vw;
    height: 2vw;
    position: absolute;
    margin-left: -10%;
    margin-top: -5%;
    display: flex;
    justify-content: space-between;
    box-shadow:
    0 0 10vw 0vw #02EB98,
    0 0 2vw 0.4vw #099e6a,
    inset 0 0 .1vw 0.2vw #02EB98,
    inset 0 0 .2vw 0.2vw #00ac70,
    inset 0 0 .25vw 0.2vw #027b50;
}
.text img,.emojie img{
    width: 30%;
    height: 60%;
    cursor: pointer;
}

.text:hover img, .emojie:hover img {
    width: 35%;
    height: 70%;
    transition: 0.5s ease-out;
}



.text, .emojie{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}


.table{
    background: url("../img/player1-bg.jpeg");
    box-shadow:
    0 0 0vw 0vw #02EB98,
    0 0 2vw 0.4vw #099e6a,
    inset 0 0 .1vw 0.01vw #02EB98,
    inset 0 0 .2vw 0.2vw #00ac70,
    inset 0 0 .25vw 0.2vw #027b50;
    border-radius: 1vw;
}




.full_profile{
    display: inline;
}

label{
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.vw;
    display: flex;
    justify-content: center;
    background: #05bd7c;
    width: 100%;
    /* height: 20%; */
    margin-top: 5%;
    padding: 2% 0 0 2%;
    /* font-size: 2vw; */
}


.pic_emojies{
    margin-top: 3%;
    margin-left: 13%;
    width: 15%;
    height: 15%;
    font-size: 2vw;
    opacity: 0.4;
    transition: .1s ease-out;
}


.pic_emojies:hover{

    cursor: pointer;
    transition: .5s ease-out;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 5px;
}


  ::-webkit-scrollbar-track {
    /* background: #000000;  */
  }


  ::-webkit-scrollbar-thumb {
      background: #cecfcf;

    }


    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;

    }




 .chat{
    position: absolute;

    overflow: scroll;
    overflow-x: hidden;
    height: 8vw;
    width: 8vw;
    margin-left: -10%;
    margin-top: -2%;
    border-radius: 10px;
    color: #FFF;

}

.button_logout{
    position: absolute;
    top: 3%;
    right: 3%;
    border: none;
    background: none;
    outline:none;
    cursor: pointer;
}

.logout{

    height: 1.5vw;
    width: 1.5vw;
    filter:drop-shadow(2px 2px 2px white); 
    cursor: pointer;
}

.showMessage{
    display: none;
    position: absolute;
    height: 3vw;
    width: 5vw;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    margin-left: 0.5%;
    border-radius: 10px;
    color: #000;
    clip-path: polygon(52% 0, 61% 9%, 100% 20%, 100% 80%, 99% 100%, 0 100%, 0 21%, 40% 10%);
    animation: down 5s ;
}
.messa{
    font-size: 1vw;
   display: flex;
   height: 3vw;
   width: 5vw;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #000000;

}

@keyframes down {
    0% {
        margin-top: -5%;
    }
    10% {
        margin-top: 0%;
    }
    80% {
        margin-top: 0%;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }

 h2{
    color: #FFF;
 }
.profile{
    display: flex;
}

  .icon_chat{
    width: 1.2vw;
    height: 1.2vw;
    cursor: pointer;
}

.icon_close{
    position: absolute;
    visibility: hidden;
    width: 1vw;
    height: 1vw;
    cursor: pointer;
}

.img_profile{
    z-index: 1;
    position: relative;
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background-size: cover;
}
.score{
    margin-left: auto;
    margin-right: auto;
     display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}


.result_player2, .result_player1{
    font-size: 2vw;
    color: #FFF;
    transition: .5s ease-out;
 }



 span{
    color: #02EB98;
 }

 .game{
     z-index: 1;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5vh 0 0 0;
 

}

.decoration1, .decoration2, .decoration3 {
    position: absolute;

    height: 10vw;
    width: 10vw;
    filter: blur(9rem);
    overflow: hidden;
    background-color: #02EB98;
}
.decoration1{
    bottom: 10px;
    right:  0px;

}

.decoration2{
    top: 0px;
    left:  0px;
    transform: rotate(180deg);
}

.decoration3{
    background: #cecfcf;
    top: 0px;
    right:  0px;
    transform: rotate(-90deg);
 
}


 
.cercles1{
    height: 2vw;
    width: 5vw;
    border: #00ac70 2px solid;
    border-radius: 50vw;
    position: absolute;
    margin-top: 40vw;
    margin-left: -2vw;
    opacity: 0.5;

    /* top: 0vw; */
}
 
 
  .cercles2{
    height: 2vw;
    width: 2vw;
    border: #00ac70 2px solid;
    border-radius: 100%;
    position: absolute;
    margin-top: 35vw;
    margin-left: 17vw;
    opacity: 0.5;


}

.cercles3{
    height: 2vw;
    width: 3vw;
    border: #00ac70 2px solid;
    border-radius: 50vw;
    position: absolute;
    margin-top: 40vw;
    margin-left: 27vw;
    opacity: 0.5;


}
.cercles4{
    height: 3vw;
    width: 3vw;
    border: #00ac70 2px solid;
    border-radius: 100%;
    position: absolute;
    margin-top: 33vw;
   margin-left: 90vw;
    opacity: 0.5;

}

.cercles5{
    height: 2vw;
    width: 2vw;
    border: #00ac70 2px solid;
    border-radius: 100%;
    position: absolute;
    margin-top: 37vw;
   margin-left: 85vw;
    opacity: 0.5;

}

.cercles6{
    height: 2.5vw;
    width: 2.5vw;
    border: #00ac70 2px solid;
    border-radius: 100%;
    position: absolute;
    margin-top: 43vw;
    margin-left: 80vw;
    opacity: 0.5;

}

.cercles7{
    height: 2vw;
    width: 2vw;
    border: #00ac70 2px solid;
    border-radius: 100%;
    position: absolute;
    margin-top: 43vw;
    margin-left: 71vw;
    opacity: 0.5;

}

.cercles8{
    height: 1vw;
    width: 1vw;
    border: #00ac70 2px solid;
    border-radius: 100%;
    position: absolute;
    margin-top: 38vw;
    margin-left: 65vw;
    opacity: 0.5;

}

.cercles9{
    height: 2vw;
    width: 4vw;
    border: #00ac70 2px solid;
    border-radius: 50vw;
    position: absolute;
    margin-top: 45vw;
    margin-left: 55vw;
    opacity: 0.5;

}

.cercles10{
    height: 4vw;
    width: 2vw;
    border: #00ac70 2px solid;
    border-radius: 50vw;
    position: absolute;
    margin-top: 40vw;
    margin-left: 45vw;
    opacity: 0.5;
}


.tubeSocer2, .tubeSocer1{
    height: 15vw;
    width: 3vw;
    border: #02EB98 2px solid;
    /* background: linear-gradient( 0deg, #02EB98 40%, transparent 40%); */
    margin-top: 15vh;
    border-radius: 3vw;
    
}

 

.tubeAndTable{
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #00ac70; */
}

.tubeSocer1 span, .tubeSocer2 span{
    color: rgb(0, 0, 0);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    margin-top: 50%;
    margin-left: 30%;
    font-size: 1.1vw;
  
}